<nav>
    <ul>
        <li><a title="Home" href="/">Home</a></li>
        <li><a title="Custom" href="/custom">Custom</a></li>
        <li><a title="Sedan" href="/sedan">Sedan</a></li>
        <li><a title="SUV" href="/suv">SUV</a></li>
        <li><a title="Truck" href="/truck">Truck</a></li>
    </ul>
</nav>